body {
  color: #e46161;
  font-family: "Righteous", cursive;
}

hr {
  color: lightslategrey;
}

.weather-app {
  background-color: black;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 30px;
}
.button-style {
  border: none;
}
.button-style:hover {
  background-color: transparent;
}
.location-icon {
  color: #e46161;
  font-size: 28px;
}
.search-box {
  text-align: center;
}
.search-icon {
  font-size: 35px;
  color: #e46161;
}
.search-area {
  border-radius: 50px;
  font-size: 18px;
  width: 100%;
  padding: 15px 90px 15px 15px;
  margin: 20px 0px;
  border: none;
}
.degree-nom,
.degree {
  display: inline;
}

.cel-style {
  font-size: 26px;
  text-decoration: none;
  cursor: default;
  color: #e46161;
}
.c-style {
  opacity: 50%;
}

.faren-style {
  font-size: 26px;
  text-decoration: none;
  color: #e46161;
  opacity: 50%;
  cursor: default;
}
.f-style {
  font-size: 26px;
  text-decoration: none;
  cursor: default;
  color: #e46161;
}

.f-style:hover {
  color: #e46161;
  opacity: 100%;
  cursor: default;
}
.cel-style:hover {
  color: #e46161;
  opacity: 100%;
  cursor: default;
}

.text-start {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0;
}
.exact-time {
  font-size: 14px;
}

.bottom-part {
  margin: 20px 0;
}
.days {
  text-align: center;
}

.second-degree {
  opacity: 0.6;
}
.min-degree {
  opacity: 50%;
}
.weather-info {
  margin-top: 10px;
}
.coding-mark {
  text-align: center;
}
.coding-mark p {
  font-family: monospace;
  color: black;
  font-size: 14px;
}
.git-link {
  text-decoration: none;
}
.column-1 {
  text-align: center;
}
@media screen and (max-width: 600px) {
  h1,
  .degree-nom {
    /* font-size: 5.5vw; */
    text-align: center;
    font-size: 50px;
  }
  h1 {
    margin-top: 10px;
    text-align: center;
  }
  .image-icon img {
    width: 80px;
  }
}
@media screen and (min-width: 601px) {
  h1,
  .degree-nom {
    font-size: 40px;
    text-align: center;
  }
  .image-icon img {
    width: 120px;
  }
}
